html { font-family: sans-serif; padding: 1rem; }
h1 {
    color: red;
    text-align: center;
}
/* .box { display: flex;
    justify-content: center;
    margin-top: 20px;
height: 200px;
width: 200px;} */
   