{% extends 'base.html' %}

{% block content%}
<style>
    h1 {margin-top: 1em;
    margin-bottom: 1em;
font-size: 5rem;
    }
</style>
<h1>Gatekeeper</h1>

<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %} -->

<form method='post'>
    {{form.hidden_tag()}}
   <h2> {{form.question.label}} </h2>
   <br>
   <h4>{{form.question}}</h4>
    <br>
    <h2>
    {{form.submit()}}</h2>
</form>

{% if count > 0 %}
<p>Guess again, of course if you will. Hint: 6 letters</p>
{% endif %} 

{% endblock %}
